.yourCart  ,.productsView{
    padding: 0px 200px;
}

@media (max-width:1080px) {
    .yourCart , .productsView {
        padding: 10px 10px;
    }

}


.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}


.loading-spinner>div {
    width: 50px;
    height: 50px;
    border: 4px solid rgb(0, 0, 0);
    border-top: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}